body {
    font-family: 'Fredoka One', Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
    background-color: #f3f3f3;
    color: #333;
}

#logo {
    color: white;
    margin: 0px;
    padding: 8px;
    font-family: 'Fredoka One', sans-serif;
    width: 16%;
    text-shadow: 
    1px 1px 0px black,   /* Bottom-right shadow */
    -1px 1px 0px black,  /* Bottom-left shadow */
    1px -1px 0px black,  /* Top-right shadow */
    -1px -1px 0px black; /* Top-left shadow */
}

ul {
    margin: 0px;
}

body > header {
    background-color: #FFD700; /* Amarillo */
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
    background-color: #0033A0; /* Azul */
    transition: background-color 0.3s ease;
}

.navbutton:hover {
    background-color: #D52B1E; /* Rojo */
}

body > main article {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#main-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#main-content > div {
    width: 80%;
}

form {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 60%;
}

h2 {
    text-align: center;
    color: #0033A0; /* Azul */
}

body > footer {
    background-color: #FFD700; /* Amarillo */
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

img {
    border-radius: 50%;
    border: 2px solid #FFD700; /* Amarillo */
}

#footer-ul{
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

#footer-ul > div > li > a:hover {
    color: #0033A0; /* Azul */
}